@tailwind base;
@tailwind components;
@tailwind utilities;


/* HEADING FONT */

@font-face {
    font-family: 'Souvenir';
    src: url(/fonts/SouvenirLight.otf);
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-serif;
        letter-spacing: -2px;
    }
}

/* NAV SCROLL BEHAVIOUR */

.scroll-down nav{
    transform: translate3d(0, -100%, 0);
}

.scroll-up nav{

}

/* BURGER MENU */

.burger-bar-top-anim{
    transform: rotate3d(0, 0, 45, 45deg) translateX(5px) translateY(5.5px);
}

.burger-bar-mid-anim{
    transform: scale3d(0, 1, 1);
}

.burger-bar-bot-anim{
    transform: rotate3d(0, 0, 45, -45deg) translateX(5px) translateY(-7px);
}

.dropdown-anim{
    transform: translateY(392px);
}